@CHARSET "utf-8";
		
body{
	background:none repeat scroll 0 0 #DCDCDC;
	color:#555555;
}
.message{
	color: rgb(195,18,23);
}
.small{
	font-size: 0.8em;
}
a
{ 
 text-decoration:none; 
 color:inherit;
}

header, body>section,footer{
	width:100%;
}
.content{
	width:940px;
	margin:auto;
}

header .content{
	height: 125px;
	margin-bottom: 15px;
}
.logo, header .advert-nav, #articles, aside{
	display: inline-block;
	vertical-align: top;
}

.logo{
	width:200px;
}
header .advert-nav{
	margin-right: 0px;
	width: 735px;
	text-align: right;
}
.advert{
	height: 80px;
	margin-bottom:20px;
}

.advert img{
	margin-left:35px;
	width: 700px;
	height: 80px;
	background-color:grey; 
}

header ul, header li{
	list-style-type: none;
	display: inline;
}
nav{
	height: 25px;
	display: inline;
}
nav ul{
	padding:5px;
}

#articles, aside{
	border: 1px solid #555555;
	border-radius:25px;
	padding:5px;
}

#articles{
	width: 640px;
	margin-right: 12px;
	min-height: 200px;
}

article{
	margin: 0px 10px;
}

article > p{
	background: white;
	text-align: justify;
}

article .error{
	border: 1px solid rgb(195,18,23);
}

#VendreBillet{
	border-bottom: 1px solid #555555;
}

#inscription{
	text-align: center;	
}

#inscription table {
	text-align: left;
	margin: auto;
}


aside{
	text-align: center;
	width: 250px;
	padding:0px 10px 10px 10px;
}

aside table{
	text-align:left;
	margin:auto;
}

aside a{
	text-decoration: underline;
}

footer{
	text-align: center;
}
