<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IN56Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>controller.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connexion</display-name>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>controller.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercheBillet</display-name>
    <servlet-name>RechercheBillet</servlet-name>
    <servlet-class>controller.RechercheBillet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheBillet</servlet-name>
    <url-pattern>/RechercheBillet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pub</servlet-name>
    <jsp-file>/WEB-INF/header/pub.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>pub</servlet-name>
    <url-pattern>/pub.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Faq</display-name>
    <servlet-name>Faq</servlet-name>
    <servlet-class>controller.Faq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faq</servlet-name>
    <url-pattern>/Faq</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>VendreBillet</display-name>
    <servlet-name>VendreBillet</servlet-name>
    <servlet-class>controller.VendreBillet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendreBillet</servlet-name>
    <url-pattern>/VendreBillet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Panier</display-name>
    <servlet-name>Panier</servlet-name>
    <servlet-class>controller.Panier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panier</servlet-name>
    <url-pattern>/Panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Paiement</display-name>
    <servlet-name>Paiement</servlet-name>
    <servlet-class>controller.Paiement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paiement</servlet-name>
    <url-pattern>/Paiement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Administration</display-name>
    <servlet-name>Administration</servlet-name>
    <servlet-class>controller.Administration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administration</servlet-name>
    <url-pattern>/Administration</url-pattern>
  </servlet-mapping>
</web-app>